                <!-- Additional Elements -->
                <section class="wrapper style1 align-center invert color1">
                    <div class="inner">
                        <!--h2><strong>About me</strong></h2-->
                        <!--p>Finally, here are some additional elements you <em>might</em> find useful (and yup, they look fine with any <span class="demo-controls">appearance</span>).</p-->
                        <div class="index align-left">
                            <section>
                                <header>
                                    <h2><b>Achievements</b></h2>
                                </header>
                                <div class="content">
                                    
                                    <ul class="alt">
                                        <li><b>Global Rank 2</b> in the <b><a href="https://www.itu.int/en/ITU-T/AI/challenge/2020/Pages/default.aspx">ITU AI/ML in 5G Challenge</a></b> for the research on compression of DL models using Knowledge Distillation (Track 18) <i>        -Dec 2020</i></li>
                                        <li><b>Best Paper Award</b> for the paper titled <i>"Anomaly Detection in Drones with Machine Learning Algorithms"</i> at VICFCNT2020 <i> -Nov 2020</i></li>
                                        <li>Received <b>GCP Research Grant</b> worth $5000 for the proposal of our research on Handwriting Analysis for Depression and Dyslexia<i> -June 2020</i></li>
                                        <li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li>
                                        <li><b>Secured Regional 3<sup>rd</sup></b> in Elocution organized by the Airport Authority of India -South Indian Region during the Vigilance Awareness week <i> -Oct 2019</i></li>
                                    </ul>

                                </div>
                            </section>
                        </div>
                    </div>
                </section>