				<!-- Additional Elements -->
                <section class="wrapper style1 align-left">
                    <div class="inner">
                        <!--h2><strong>About me</strong></h2-->
                        <!--p>Finally, here are some additional elements you <em>might</em> find useful (and yup, they look fine with any <span class="demo-controls">appearance</span>).</p-->
                        <div class="index align-left">
                            <section>       
                                <header>
                                    <h2><strong>Experience</strong></h2>
                                </header>
                                <div class="content">
                                    <p><h3><code>R&D Intern -ERICSSON INDIA</code></h3><h5><a href="#" class="icon brands style1 fa-calendar"><span class="label">calendar-day</span></a> (June 2020 - June 2021)</h5>Currently our focus is on Multi-agent Reinforcement Learning. Prior to this we presented our work on Multi-context based Knowledge Distillation at the ITU AI/ML in 5G Challenge securing rank 2 globally.<a href="https://gogreen.se.com/en"> Read more</a></p>
                                    <p><h3><code>Remote Research Associate -MORSE STUDIO, GSU Atlanta</code></h3><h5>(May 2020 - present)</h5>Developing a non-intrusive mobile application, that will analyze human handwriting samples using CV and NLP techniques to identify disorders like dyslexia and other personaity traits. <a href="https://gogreen.se.com/en"> Read more</a></p>
                                    <!--p><h4><code></code></h4><h5>(May 2019 - June 2019)</h5> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                                    This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                                    This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.
                                    Finally, this is a <a href="#">link</a>.</p-->
                                    <p><h3><code>Summer Intern -FLSmidth Pvt Ltd</code></h3><h5>(May 2019 - July 2019)</h5>Simulated and tested PLC code for raw material handling using Siemens Step7 software.
                                        Other small IoT projects that I worked on includes motor and water level control for 
                                        industry application.<a href="https://gogreen.se.com/en"> Read more</a></h4></p>
                                    <!--ul class="actions stacked">
                                        <li><a href="#" class="button">Read More</a></li>
                                    </ul-->
                                </div>
                                
                            </section> 
                         
                        </div>


                    </div>
                </section>
