                
                <!-- Gallery -->
                <!--section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Gallery</h2>
                        <p>This is a <strong>Gallery</strong> element. It can behave as a lightbox (when given the <code>lightbox</code> class), and you can customize its <span class="demo-controls">appearance with a number of modifiers</span>, as well as assign it an optional <code>onload</code> or <code>onscroll</code> transition modifier (<a href="#reference-gallery">details</a>).</p>
                    </div-->

                    <!-- Gallery -->
                        <div class="gallery style2 small lightbox onscroll-fade-in onload-image-fade-in" id="Gallery">
                            <article>
                                <a href="images/gallery/fulls/01.jpeg" class="image">
                                    <img src="images/gallery/thumbs/01.jpeg" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>COMSNETS2020</h3>
                                    <p>International Conference dedicated to advances in Networking and Communication Systems.</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/02.jpg" class="image">
                                    <img src="images/gallery/thumbs/02.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>Renaissance2019</h3>
                                    <p>Technical lead (Juniors), e-cell Vellore Institute of Technology </p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/03.jpeg" class="image">
                                    <img src="images/gallery/thumbs/03.jpeg" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>Vsplash2018</h3>
                                    <p>Club dedicated to advancement science and technology</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/04.png" class="image">
                                    <img src="images/gallery/thumbs/04.png" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>Pencil Sketching</h3>
                                    <p>This is what I do other than engineering.</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/05.jpg" class="image">
                                    <img src="images/gallery/thumbs/05.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>COMSNETS2020</h3>
                                    <p></p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/06.jpg" class="image">
                                    <img src="images/gallery/thumbs/06.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>E-cell 2018</h3>
                                    <p>Entrepreneurs summit, Vellore Institute of Technology.</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/07.png" class="image">
                                    <img src="images/gallery/thumbs/07.png" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>10 miles Cycling Marathon</h3>
                                    <p>Runner up at the National level cultural and sports fest VIT  2018</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/08.png" class="image">
                                    <img src="images/gallery/thumbs/08.png" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>VITeach</h3>
                                    <p>Student run social outreach club</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/09.png" class="image">
                                    <img src="images/gallery/thumbs/09.png" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>IEEE Computer society</h3>
                                    <p>Office bearers for the year 2019</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <a href="images/gallery/fulls/10.png" class="image">
                                    <img src="images/gallery/thumbs/10.png" alt="" />
                                </a>
                                <div class="caption">
                                    <h3>COMSNETS</h3>
                                    <p>The volunteers team</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">Details</span></li>
                                    </ul>
                                </div>
                            </article>
                            
                        </div>

                <!--/section>
                    <section class="wrapper style3 align-left invert color5">
                        <div class="inner">
                            <section>
                                <div class="index align-left">
                                    <section>
                                        <header>
                                            <h2><b>Research Activities</b></h2>
                                        </header>
                                        <div class="content">
                                            <ul class="alt">
                                                <li>Yashaswini Vishwananth,<strong> Vidya G </strong>, Sethuraman T V, Ashwin Ashok. <strong>"Human Psychological report Generation using
                                                    Automated Graphology"</strong>. Prospective Submission in ELSEVIER Smart Health, 2021</li>
                                                <li><strong>Vidya G </strong>, Thiruvikram G L, Sethuraman T V, Satheesh K Perepu, Saravanan Mohan.<strong>"Multi-context aware knowledge
                                                    distillation with a novel loss function”</strong>. Selected by ITU AI/ML in 5G challenge- AI for social good summit, 2020.</li>
                                                <li>Kartik Joshi ,<strong>Vidya G </strong> , Soumya Shaw , Abitha K Thyagarajan , Akhil Pathak , Rahul Hemal Shah , Ram Kishan V, and John Sahaya Rani Alex
                                                    <strong>Best Paper Award -"Anomaly Detection in Drones with Machine Learning Algorithms"</strong> published with Springer by Virtual International Conference on Futuristic Communication 
                                                    and Network technologies (VICFCNT2020)
                                                    <i> -Nov 2020</i></li>
                                                <li><strong>Anomaly Detection in Drone-Captured Images
                                                    using Machine Learning Techniques
                                                    and Deep Learning Architectures </strong>punblished with springer by VICFCNT2020. A comparitive study to understand anomalous behaviors from temporally
                                                    coherent streams of footage to analyze the image frames, both
                                                    quantitatively and qualitatively<i> -June 2020</i></li>
                                                <li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li>
                                            </ul>
            
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </section>
                
                <section class="wrapper style3 align-left invert color5">
                    <div class="inner">    
                        <section>
                            <header>
                                <h2><b>Achievements</b></h2>
                            </header>
                            <div class="content">
                                
                                <ul class="alt">
                                    <li><b>Global Rank 2</b> in the <b><a href="https://www.itu.int/en/ITU-T/AI/challenge/2020/Pages/default.aspx">ITU AI/ML in 5G Challenge</a></b> for the research on compression of DL models using Knowledge Distillation (Track 18) <i>        -Dec 2020</i></li>
                                    <li><b>Best Paper Award</b> for the paper titled <i>"Anomaly Detection in Drones with Machine Learning Algorithms"</i> at VICFCNT2020 <i> -Nov 2020</i></li>
                                    <li>Received <b>GCP Research Grant</b> worth $5000 for the proposal of our research on Handwriting Analysis for Depression and Dyslexia<i> -June 2020</i></li>
                                    <li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li>
                                    <li><b>Secured Regional 3<sup>rd</sup></b> in Elocution organized by the Airport Authority of India -South Indian Region during the Vigilance Awareness week <i> -Oct 2019</i></li>
                                </ul>

                            </div>
                        </section>
                    </div>
                </section-->
                    