				<!-- Modifiers -->
                <section class="wrapper style1 align-center invert color6 onl" id="experience-story">
                    <div class="inner">
                        <h2>My Experience story</h2>
                        <!--p>Oh, and this: a handy reference to all the modifiers supported by various elements.</p-->
                        <div class="index align-left">

                            <!-- Banner -->
                                <section id="exp1">
                                    
                                    <div class="content">

                                        <h4>R&D Intern Ericsson India</h4>
                                        <p><i>(June 2020- June 2021)</i></p>
                                        <p>I started off my internship at Ericsson R&D, exhaustively studying how 5G and edge computing are two inextricably linked technologies. It seemed to me that the great success of deep learning
                                            is mainly due to its scalability to encode large-scale data and to maneuver billions of model parameters. However,  despite  the  fact  that  deep  neural  networks  are  powerful  models
                                            and achieve appealing results on many tasks, they are too large to be deployed on edge devices like smartphones or embedded devices.  This is predominantly due to the high computational complexity and the large storage requirements which makes it difficult to be operated in real-time and limits their use in many downstream  applications. To  overcome  this  problem,  there  has  been  a  lot  of recent research like building more efficient neural network families, pruning weights from larger neural networks, quantizing existing networks to use fewer bits for weights and activations and distilling knowledge from larger networks into smaller ones.
                                            We came up with a novel deep learning model compression technique using multi-student Architecture augmented with a highly compressed model selector network capable of understanding the attributes of the input data. We also produced a part of our work at the ITU AI/ML 5G Challenge securing Rank 2 globally . We are further extending the work with a novel loss function for submission to IJCAI2020. Apart from this I have started working on multi-agent reinforcement learning as part of my final year project.
                                        </p>
                                    </div>
                                </section>
                                <section id="exp2">
                                    
                                    <div class="content">

                                        <h4>MORSE Studio Research Lab</h4>
                                        <p><i>(May 2020- present)</i></p>
                                        <p>Morse studio is a Research Lab, under the Georgia State University Computer Science department, directed by Dr.Ashwin Ashok, Asst Prof GSU. We focus more on the research problems that encompass emerging technologies in mobile and wireless communication, computing and sensing. Our research spectrum ranges from computer vision, machine learning and deep learning, visible light communication, computing and sensing, mobile and wearable computing, vehicular networking and  robotics.</p>
                                        <p>What have I been working on as part of this group?</p>
                                        <p>To address the issue faced by over 10% of the world’s population affected by learning disabilities like dyslexia, we are working on a  non-intrusive indicator that can play a great role in early detection. Since dyslexia affects areas of the brain that process language we used handwriting samples and fundamentally tweaked OCR and NLP methodologies to identify and extract features from an abnormal style of writing like the one from a dyslexic child. To demonstrate the soundness of this technique, we built a mobile toolkit that provides a high-resolution report of any normal/abnormal handwriting and signal the potential disorders that could occur along with the corresponding risk level. The link to the webpage will be up here shortly.
                                            </p>
                                    </div>
                                </section>
                                <section id="reference-banner">
                                    
                                    <div class="content">

                                        <h4> FLSmidth Pvt Ltd</h4>
                                        <p><i>(May 2019 - June 2019)</i></p>
                                        <p>As a sophomore in college I interned at Flsmidth Pvt Ltd Chennai during summer break. In the initial phase of my internship I did some exploratory work on control systems and understood how hundreds of processes run parallely. I was introduced to QCX, robolab and various other proprietary  systems of FLsmidth which are state of the art in performing tasks such as automated quality analysis etc. Understanding how robolab worked so swiftly while cutting down on labour by almost 100% was one of my favorite parts of the internship. Later I got my hands on simulating and testing PLC code for cement mill and raw material handling using Siemens Step7 software. PLC program was written, downloaded to the controller and the  mimic for the same was generated on SCADA, for which I used FLsmidth ECS SCADA (expert control system).
                                            Other small projects that I worked on include tail light system,  motor and water level control etc for industrial IoT applications.
                                            </p>
                                    </div>
                                </section>
                            <!-- Spotlight -->
                                
                        </div>
                    </div>
                </section>
