                
                <!-- Gallery -->
                <!--section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Gallery</h2>
                        <p>This is a <strong>Gallery</strong> element. It can behave as a lightbox (when given the <code>lightbox</code> class), and you can customize its <span class="demo-controls">appearance with a number of modifiers</span>, as well as assign it an optional <code>onload</code> or <code>onscroll</code> transition modifier (<a href="#reference-gallery">details</a>).</p>
                    </div-->

                    <!-- Gallery -->
                    <div class="gallery style1 big lightbox onload-image-fade-in onload" id="Projects">
                        <article>
                            <a href="https://github.com/Vidya1899/Multistudent-Knowledge-distilation" class="image">
                                <img src="images/projects/thumbs/01.png" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Multi-context aware Knowledge Distillation</h2>
                                <p>A multiple student model to bridge the gap between the data distribution and the student meta architecture.</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <a href="https://medium.com/@gvidya1899/smart-walking-cane-for-the-blind-34ea7b87c468" class="image">
                                <img src="images/projects/thumbs/02.png" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Smart Walking Cane</h2>
                                <p>A low cost and light weight system with microcontrollers that processes signal and alerts the visually impaired person over any obstacle, water or dark areas through haptic vibrators.</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <a href="https://www.hackster.io/gvidya1899/remote-temperature-monitoring-41a012" class="image">
                                <img src="images/projects/thumbs/03.png" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Real time temperature alert via telegram </h2>
                                <p>The system finds when the temperature exceeds a particular threshold and the person concerned will be notified through Telegram.</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <a href="https://medium.com/@gvidya1899/gesture-vocalizer-1f6bac9e5048" class="image">
                                <img src="images/projects/thumbs/04.png" alt="" />
                            </a>
                            <div class="caption">
                                <h2><b>Gesture Vocalizer for the differently abled</b></h2>
                                <p>An intelligent two-way communication,a gesture -based vocalizer that can translate visual language into speech.</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <a href="https://www.youtube.com/watch?v=9KJyFYHdFzI" class="image">
                                <img src="images/projects/thumbs/05.png" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Home Automation</h2>
                                <p>A DL model that provides the framework to make real-time intelligent decisions using IoT in home automation</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <a href="https://github.com/Vidya1899/Arrhythmia_classification" class="image">
                                <img src="images/projects/thumbs/06.png" alt="" />
                            </a>
                            <div class="caption">
                                <h3>ML for Arrhythmia Classification</h3>
                                <p>Multi-class classification of cardiac Arrhythmia using Arrhythmia Dataset from UCI Machine learning repository.</p>
                                <ul class="actions fixed">
                                    <li><span class="button small">Details</span></li>
                                </ul>
                            </div>
                        </article>
                        
                    </div>

            <!--/section>
                <section class="wrapper style3 align-left invert color5">
                    <div class="inner">
                        <section>
                            <div class="index align-left">
                                <section>
                                    <header>
                                        <h2><b>Research Activities</b></h2>
                                    </header>
                                    <div class="content">
                                        <ul class="alt">
                                            <li>Yashaswini Vishwananth,<strong> Vidya G </strong>, Sethuraman T V, Ashwin Ashok. <strong>"Human Psychological report Generation using
                                                Automated Graphology"</strong>. Prospective Submission in ELSEVIER Smart Health, 2021</li>
                                            <li><strong>Vidya G </strong>, Thiruvikram G L, Sethuraman T V, Satheesh K Perepu, Saravanan Mohan.<strong>"Multi-context aware knowledge
                                                distillation with a novel loss function”</strong>. Selected by ITU AI/ML in 5G challenge- AI for social good summit, 2020.</li>
                                            <li>Kartik Joshi ,<strong>Vidya G </strong> , Soumya Shaw , Abitha K Thyagarajan , Akhil Pathak , Rahul Hemal Shah , Ram Kishan V, and John Sahaya Rani Alex
                                                <strong>Best Paper Award -"Anomaly Detection in Drones with Machine Learning Algorithms"</strong> published with Springer by Virtual International Conference on Futuristic Communication 
                                                and Network technologies (VICFCNT2020)
                                                <i> -Nov 2020</i></li>
                                            <li><strong>Anomaly Detection in Drone-Captured Images
                                                using Machine Learning Techniques
                                                and Deep Learning Architectures </strong>punblished with springer by VICFCNT2020. A comparitive study to understand anomalous behaviors from temporally
                                                coherent streams of footage to analyze the image frames, both
                                                quantitatively and qualitatively<i> -June 2020</i></li>
                                            <li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li>
                                        </ul>
        
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>
                </section>
            
            <section class="wrapper style3 align-left invert color5">
                <div class="inner">    
                    <section>
                        <header>
                            <h2><b>Achievements</b></h2>
                        </header>
                        <div class="content">
                            
                            <ul class="alt">
                                <li><b>Global Rank 2</b> in the <b><a href="https://www.itu.int/en/ITU-T/AI/challenge/2020/Pages/default.aspx">ITU AI/ML in 5G Challenge</a></b> for the research on compression of DL models using Knowledge Distillation (Track 18) <i>        -Dec 2020</i></li>
                                <li><b>Best Paper Award</b> for the paper titled <i>"Anomaly Detection in Drones with Machine Learning Algorithms"</i> at VICFCNT2020 <i> -Nov 2020</i></li>
                                <li>Received <b>GCP Research Grant</b> worth $5000 for the proposal of our research on Handwriting Analysis for Depression and Dyslexia<i> -June 2020</i></li>
                                <li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li>
                                <li><b>Secured Regional 3<sup>rd</sup></b> in Elocution organized by the Airport Authority of India -South Indian Region during the Vigilance Awareness week <i> -Oct 2019</i></li>
                            </ul>

                        </div>
                    </section>
                </div>
            </section-->
                