<!-- Additional Elements -->
                <section class="wrapper style1 align-center onload" id="Research">
                    <div class="inner">
                        <!--h2><strong>About me</strong></h2-->
                        <!--p>Finally, here are some additional elements you <em>might</em> find useful (and yup, they look fine with any <span class="demo-controls">appearance</span>).</p-->
                        <div class="index align-left">
                            <section>
                                <header>
                                    <h2><b>Research Activities</b></h2>
                                </header>
                                <div class="content">
                                    <ul class="alt">
                                        <li>Yashaswini Vishwananth,<strong> Vidya G </strong>, Sethuraman T V, Ashwin Ashok. <strong>Journal titled "Human Psychological report Generation using
                                            Automated Graphology"</strong>. Prospective Submission in ELSEVIER Smart Health, 2021</li>
                                        <li> Thiruvikram G L,<strong>Vidya G </strong>, Sethuraman T V, Satheesh K Perepu, Saravanan Mohan.<strong>"Multi-context aware knowledge
                                            distillation with a novel loss function”</strong>. Selected by ITU AI/ML in 5G challenge- AI for social good summit, 2020.</li>                                                <li>Kartik Joshi ,<strong>Vidya G </strong> , Soumya Shaw , Abitha K Thyagarajan , Akhil Pathak , Rahul Hemal Shah , Ram Kishan V, and John Sahaya Rani Alex
                                            <strong>Best Paper Award -"Anomaly Detection in Drones with Machine Learning Algorithms"</strong> published with Springer by Virtual International Conference on Futuristic Communication 
                                            and Network technologies (VICFCNT2020)
                                            <i> -Nov 2020</i></li>
                                        <li><strong>Anomaly Detection in Drone-Captured Images
                                            using Machine Learning Techniques
                                            and Deep Learning Architectures </strong>punblished with springer by VICFCNT2020. A comparitive study to understand anomalous behaviors from temporally
                                                coherent streams of footage and analyze the image frames, both
                                                quantitatively and qualitatively<i> -June 2020</i></li>
                                        <!--li><b>National Finalists </b>of Schneider Electrics <b><a href="https://gogreen.se.com/en">GGITC2019 </a></b> -Designed a DL model that provides the framework to make real-time intelligent decisions using IoT in home automation <i>- Aug 2019</i></li-->
                                    </ul>

                                </div>
                            </section>
                        </div>   
                    </div>
                </section>